
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= username %></p>
<%- include('partials/navbar') %>
<!-- <a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <p class="lead mb-3"><%= username %> please let us know what type of car you like.</p>
      <div class="card card-body text-center">
        <img src="/images/classicCar.png">
        <a href="#" class="btn btn-primary btn-block mb-3">Vote for Classic Car</a>
        <img src="/images/modernCar.png">
        <a href="#" class="btn btn-secondary btn-block">Vote for Modern Car</a>
      </div>
    </div>
  </div>